input.transparent-input{
    background-color:transparent !important;
 }

.rounded-0-left {
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
}
.rounded-0-right {
    border-bottom-right-radius: 0rem;
    border-top-right-radius: 0rem;
}