<div class="d-flex justify-content-center">
    <div>
        <form class="text-light text-center my-3">
                <div class="d-flex justify-content-end mb-3 row">
                    <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">First Name:</label>
                    <div  *ngIf="(user$ | async) as user" class="col-xs-3 col-sm-auto">
                        <input disabled value="{{ user.firstname }}" id="table-filtering-search" class="form-control transparent-input text-light" type="text" />
                    </div>
                </div>
                <div class="d-flex justify-content-end  mb-3 row">
                    <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Last Name:</label>
                    <div  *ngIf="(user$ | async) as user" class="col-xs-3 col-sm-auto">
                        <input disabled value="{{ user.lastname }}" id="table-filtering-search" class="form-control transparent-input text-light" type="text" />
                    </div>
                </div>
                <div class="d-flex justify-content-end mb-3 row">
                    <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Email:</label>
                    <div  *ngIf="(user$ | async) as user" class="col-xs-3 col-sm-auto">
                        <input disabled value="{{ user.email }}" id="table-filtering-search" class="form-control transparent-input text-light" type="text" />
                    </div>
                </div>
        </form>
    </div>
</div>