<div class="gradient overflow-hidden position-fixed"></div>
<div class="d-flex text-light align-items-center justify-content-center">
    <div>
        <div class="p-5">
            <img class="logo mx-auto d-block" src="/assets/logo.png"/>
        </div>
        <div class="card bg-opacity-75 bg-dark card-body ml-2 mr-2 login-card">
            <form [formGroup] = "form">
                <div class="form-group p-2">
                    <div class="d-flex justify-content-center p-1">
                        <label for="exampleInputEmail1">Email address</label>
                    </div>
                    <input formControlName="email" [ngClass]="{'is-invalid': form.get('email').hasError('email')}" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <div *ngIf="form.get('email').hasError('email')">
                        <small id="emailHelp" class="text-danger">Invalid email</small>
                    </div>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group p-2">
                    <div class="d-flex justify-content-center p-1">
                        <label for="exampleInputPassword1">Password</label>
                    </div>
                    <input formControlName="password" type="password" class="form-control" id="password" placeholder="Password">
                </div>
                <div class="form-group p-2">
                    <div class="d-flex justify-content-center p-1">
                        <label for="exampleInputPassword1">Confirm Password</label>
                    </div>
                    <input formControlName="conPassword" type="password" [ngClass]="{'is-invalid': form.hasError('notSame')}" class="form-control" id="conPassword" placeholder="Password">
                    <div class="invalid-feedback" *ngIf="form.hasError('notSame')">
                        Passwords does not match
                    </div>
                </div>
                <div class="p-2 d-flex justify-content-center">
                    <button type="submit" class="btn btn-secondary">Register</button>
                </div>
                <p class="small fw-bold mt-2 pt-1 mb-0">Have an account already? <a href="/login"
                    class="link-primary">Login</a>
                </p>
            </form>
        </div>
    </div>
</div>