<div class="d-flex text-light align-items-center justify-content-center">
    <div>
        <div class="p-5">
            <a role="button" (click)="this.$router.navigate([''])">
                <img class="logo mx-auto d-block" src="/assets/logo.png"/>
            </a>
        </div>
        <div class="card bg-opacity-75 bg-dark card-body ml-2 mr-2 login-card">
            <form (ngSubmit)="onSubmit()" [formGroup] = "form">
                <div class="form-group p-2">
                    <div class="d-flex justify-content-center p-1">
                        <label for="exampleInputEmail1">Email address</label>
                    </div>
                    <input #username formControlName="username" type="email"  [ngClass]="{'is-invalid': form.get('username').hasError('email')}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <div *ngIf="form.get('username').hasError('email')">
                        <small id="emailHelp" class="text-danger">Invalid email</small>
                    </div>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group p-2">
                    <div class="d-flex justify-content-center p-1">
                        <label for="exampleInputPassword1">Password</label>
                    </div>
                    <input #password formControlName="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div *ngIf="this.loginError != ''">
                    <small class="form-text text-danger">{{this.loginError}}</small>
                </div>
                <div *ngIf="isLoading == true; then loading else button">
                </div>
                <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a role="button"
                    (click)="this.$router.navigate(['auth/register'])" class="link-primary">Register</a>
                </p>
                <p class="small fw-bold mt-2 pt-1 mb-0">Trouble signing in? <a role="button"
                    (click)="this.$router.navigate(['auth/password-reset'])" class="link-primary">Reset your password</a>
                </p>
            </form>
        </div>
    </div>
</div>

<ng-template #loading>
    <div class="p-2 d-flex justify-content-center">
        <i class="fa-solid fa-spinner fa-spin fa-2xl"></i>
    </div>
</ng-template>
<ng-template #button>
    <div class="p-2 d-flex justify-content-center">
        <button [disabled]="this.form.controls['username'].invalid || this.form.controls['password'].invalid" type="submit" class="btn btn-secondary">Login</button>
    </div>
</ng-template>