<div>
    <form [formGroup] = "form" (ngSubmit)="addAccount()">
        <table class="table text-light text-center table-borderless table-hover">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col" >Website</th>
                    <th scope="col" >Username</th>
                    <th scope="col">Password</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="text-light">
                    <tr>
                        <td style="width:30%"></td>
                        <td>
                            <input 
                                formControlName="website"  
                                class="form-control transparent-input text-light rounded-0-right" 
                                type="text"
                                [ngClass]="{ 'is-invalid': form.get('website').invalid && form.get('website').touched }"
                                />
                        </td>
                        <td>
                            <input 
                                formControlName="username" 
                                class="form-control transparent-input text-light rounded-0" 
                                type="text"
                                [ngClass]="{ 'is-invalid': form.get('username').invalid && form.get('username').touched }"
                                />
                        </td>
                        <td>
                            <div class="input-group">
                                <input 
                                    formControlName="password" 
                                    class="form-control transparent-input text-light rounded-0-left" 
                                    [type]="passwordIcon == faEyeSlash ? 'password' : 'text'"
                                    [ngClass]="{ 'is-invalid': form.get('password').invalid && form.get('password').touched }"
                                    />
                                <button type="button" class="btn btn-outline-light" (click)="hidePassword()">
                                    <fa-icon [icon]="passwordIcon"></fa-icon>
                                </button>
                            </div>
                        </td>

                        <td style="width:15%" class="text-start">
                            <div *ngIf="isLoading == false; else loading">
                                <button type="submit" [disabled]="form.invalid" class="btn btn-light">
                                    <i class="fa-solid fa-plus"></i>
                                </button>
                            </div>
                            <ng-template #loading>
                                <div>
                                    <i class="fa-solid fa-spinner fa-spin fa-2xl"></i>
                                </div>
                            </ng-template>
                        </td>
                        <td style="width:15%"></td>
                    </tr>
                <ng-template #tableloading>
                    <tr>
                        <td colspan="6">
                            <i class="fa-solid fa-spinner fa-spin fa-2xl"></i>
                        </td>
                    </tr>          
                </ng-template>
                <ng-container *ngIf="!this.isTableLoading; else tableloading">
                    <tr *ngFor="let account of accounts | async">
                        <td style="width:30%"></td>
                        <td class="text-light align-middle">
                            <div class="d-flex justify-content-center">
                                <img [src]="account.validImgUrl" width="25">
                                <div class="px-1">
                                    <a class="link-light text-decoration-none" [href]="">
                                        {{account.AccountUrl}}
                                    </a>
                                </div>
                            </div>
                        </td>
                        <td class="text-light align-middle">    
                            {{account.AccountUserName}}
                        </td>
                        <td class="text-light">
                            <div class="input-group">
                            <input 
                                class="form-control text-center transparent-input text-light border-0"
                                readonly
                                [type]="account.showPassword === false ? 'password' : 'text'" 
                                value="{{ account.AccountPassword }}">
                            <button type="button" class="btn" (click)="account.showPassword = !account.showPassword">
                                <fa-icon [icon]="account.showPassword ? faEye : faEyeSlash"></fa-icon>
                            </button>
                            </div>
                        </td>
                        <td style="width:15%" class="text-start">
                            <button type="button" class="btn btn-danger text-dark" (click)="deleteAccount(account)">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </td>
                        <td style="width:15%"></td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </form>
</div>