<div class="d-flex text-light align-items-center justify-content-center">
    <div>
        <div class="p-5">
            <a role="button" (click)="this.$router.navigate([''])">
                <img class="logo mx-auto d-block" src="/assets/logo.png"/>
            </a>
        </div>
        <div class="card bg-opacity-75 bg-dark card-body ml-2 mr-2 login-card" style="width: 25rem;">
                <div *ngIf="!success; else successBlock">
                    <h3 class="text-center">Reset your password</h3>
                    <form (ngSubmit)="onSubmit()" [formGroup] = "form">
                        <div class="form-group p-2">
                            <div class="d-flex justify-content-center p-1">
                                <label for="exampleInputPassword1">New Password</label>
                            </div>
                            <input #password formControlName="password" type="password" class="form-control" id="password" placeholder="Password">
                            <div class="text-danger fs-6" *ngIf="this.form.get('password').hasError('pattern')">
                                Password Requirements:
                                <ul>
                                    <li>Must contain at least 8 characters</li>
                                    <li>Must contain at least one uppercase letter</li>
                                    <li>Must contain at least one lowercase letter</li>
                                    <li>Must contain at least one number</li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group p-2">
                            <div class="d-flex justify-content-center p-1">
                                <label for="exampleInputPassword1">Confirm New Password</label>
                            </div>
                            <input formControlName="conPassword" type="password" [ngClass]="{'is-invalid': form.hasError('notSame')}" class="form-control" id="conPassword" placeholder="Password">
                            <div class="text-danger" *ngIf="form.hasError('notSame')">
                                Passwords does not match
                            </div>
                        </div>
                        <div class="px-2" *ngIf="this.errorMessage != ''">
                            <small class="form-text text-danger">{{this.errorMessage}}</small>
                        </div>
                        <div class="p-2 d-flex justify-content-center">
                            <div *ngIf="!loading; else loadingIcon">
                                <button [disabled]="!this.form.valid" type="submit" class="btn btn-secondary">
                                    Confirm
                                </button>
                            </div>
                            <ng-template #loadingIcon>
                                <div>
                                    <i class="fa-solid fa-spinner fa-spin fa-2xl"></i>
                                </div>
                            </ng-template>
                        </div>
                    </form>
                </div>
                <ng-template #successBlock>
                    <i class="text-success fa-xl fa-solid fa-circle-check"></i>
                    <div class="text-success" style="text-align: center;">
                        <p>Your password has been successfully reset. Now you can log in with your new password.
                        </p>
                    </div>
                    <div class="text-center p-3">
                        <a class="btn btn-dark" (click)="this.$router.navigate(['auth/login'])">Go to Login</a>
                    </div>
                </ng-template>
        </div>
    </div>
</div>