<div class="d-flex text-light align-items-center justify-content-center">
    <div>
        <div class="p-5">
            <a role="button" (click)="this.$router.navigate([''])">
                <img class="logo mx-auto d-block" src="/assets/logo.png"/>
            </a>
        </div>
        <div class="card bg-opacity-75 bg-dark card-body ml-2 mr-2 login-card">
                <div *ngIf="!success; else successBlock">
                    <h3 class="text-center">Forgot your password</h3>
                    <p>Please enter the email address you'd like your password<br> reset information sent to</p>
                    <form (ngSubmit)="onSubmit()" [formGroup] = "form">
                        <div class="form-group p-2">
                            <input #email formControlName="email" type="email"  [ngClass]="{'is-invalid': form.get('email').hasError('email')}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            <div *ngIf="form.get('email').hasError('email')">
                                <small id="emailHelp" class="text-danger">Invalid email</small>
                            </div>
                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        </div>
                        <div class="px-2" *ngIf="this.errorMessage != ''">
                            <small class="form-text text-danger">{{this.errorMessage}}</small>
                        </div>
                        <div class="p-2 d-flex justify-content-center">
                            <div *ngIf="!loading; else loadingIcon">
                                <button [disabled]="this.form.controls['email'].invalid" type="submit" class="btn btn-secondary">
                                    Request reset link
                                </button>
                            </div>
                            <ng-template #loadingIcon>
                                <div>
                                    <i class="fa-solid fa-spinner fa-spin fa-2xl"></i>
                                </div>
                            </ng-template>
                        </div>
                    </form>
                </div>
                <ng-template #successBlock>
                    <i class="text-success fa-xl fa-solid fa-circle-check"></i>
                    <div class="text-success" style="width: 25rem; text-align: justify;">
                        <p>&emsp;We have sent a reset password email to the address you provided.
                        Please check your email and follow the instructions to reset your password.
                        If you do not receive the email within a few minutes, please check your spam or junk folder.
                        If you continue to have trouble, please contact our support team for assistance.
                        </p>
                    </div>
                    <div class="text-center p-3">
                        <a class="btn btn-dark" (click)="this.$router.navigate(['auth/login'])">Go to Login</a>
                    </div>
                </ng-template>
        </div>
    </div>
</div>